In [42]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt

In [43]:
cgmdata = pd.read_csv('Project 1 Student Files/CGMData.csv',usecols=['Date','Time','Sensor Glucose (mg/dL)'])
insdata = pd.read_csv('Project 1 Student Files/InsulinData.csv',usecols=['Date','Time','Alarm'])
cgmdata

            Date      Time  Sensor Glucose (mg/dL)
0      2/12/2018  13:22:27                   118.0
1      2/12/2018  13:17:27                   122.0
2      2/12/2018  13:12:27                     NaN
3      2/12/2018  13:07:27                     NaN
4      2/12/2018  13:02:27                     NaN
...          ...       ...                     ...
55338  7/25/2017  12:28:54                   311.0
55339  7/25/2017  12:23:54                   311.0
55340  7/25/2017  12:18:54                   309.0
55341  7/25/2017  12:13:54                   310.0
55342  7/25/2017  12:08:54                   314.0

[55343 rows x 3 columns]

In [44]:
insdata#.columns

            Date      Time                  Alarm
0      2/12/2018  13:20:53                    NaN
1      2/12/2018  13:20:48  Other Alarm Code: 112
2      2/12/2018  13:18:48                    NaN
3      2/12/2018  13:18:48                    NaN
4      2/12/2018  13:12:33                    NaN
...          ...       ...                    ...
41430  7/24/2017  19:00:01                    NaN
41431  7/24/2017  18:59:44                    NaN
41432  7/24/2017  18:59:44                    NaN
41433  7/24/2017  18:59:44                    NaN
41434  7/24/2017  18:59:42                    NaN

[41435 rows x 3 columns]

In [45]:
cgmdata['datetime']=pd.to_datetime(cgmdata['Date'] + ' ' + cgmdata['Time'])
insdata['datetime']=pd.to_datetime(insdata['Date'] + ' ' + insdata['Time'])
cgmdata

            Date      Time  Sensor Glucose (mg/dL)            datetime
0      2/12/2018  13:22:27                   118.0 2018-02-12 13:22:27
1      2/12/2018  13:17:27                   122.0 2018-02-12 13:17:27
2      2/12/2018  13:12:27                     NaN 2018-02-12 13:12:27
3      2/12/2018  13:07:27                     NaN 2018-02-12 13:07:27
4      2/12/2018  13:02:27                     NaN 2018-02-12 13:02:27
...          ...       ...                     ...                 ...
55338  7/25/2017  12:28:54                   311.0 2017-07-25 12:28:54
55339  7/25/2017  12:23:54                   311.0 2017-07-25 12:23:54
55340  7/25/2017  12:18:54                   309.0 2017-07-25 12:18:54
55341  7/25/2017  12:13:54                   310.0 2017-07-25 12:13:54
55342  7/25/2017  12:08:54                   314.0 2017-07-25 12:08:54

[55343 rows x 4 columns]

In [46]:
removeDate=cgmdata[cgmdata['Sensor Glucose (mg/dL)'].isna()]['Date'].unique()
cgmdata=cgmdata.set_index('Date').drop(index=removeDate).reset_index()
cgmdata

            Date      Time  Sensor Glucose (mg/dL)            datetime
0      1/21/2018  23:59:18                    91.0 2018-01-21 23:59:18
1      1/21/2018  23:54:18                    93.0 2018-01-21 23:54:18
2      1/21/2018  23:49:18                    95.0 2018-01-21 23:49:18
3      1/21/2018  23:44:18                    98.0 2018-01-21 23:44:18
4      1/21/2018  23:39:18                   101.0 2018-01-21 23:39:18
...          ...       ...                     ...                 ...
10380  7/26/2017   0:23:57                    72.0 2017-07-26 00:23:57
10381  7/26/2017   0:18:57                    67.0 2017-07-26 00:18:57
10382  7/26/2017   0:13:57                    64.0 2017-07-26 00:13:57
10383  7/26/2017   0:08:57                    64.0 2017-07-26 00:08:57
10384  7/26/2017   0:03:57                    65.0 2017-07-26 00:03:57

[10385 rows x 4 columns]

In [47]:
startAuto=insdata.sort_values(by='datetime',ascending=True).loc[insdata['Alarm']=='AUTO MODE ACTIVE PLGM OFF'].iloc[0]['datetime']
startAuto

Timestamp('2017-08-09 08:07:13')

In [48]:
auto = cgmdata.sort_values(by='datetime',ascending=True).loc[cgmdata['datetime']>=startAuto]
auto

           Date      Time  Sensor Glucose (mg/dL)            datetime
9134   8/9/2017   8:10:05                   173.0 2017-08-09 08:10:05
9133   8/9/2017   8:15:05                   177.0 2017-08-09 08:15:05
9132   8/9/2017   8:20:05                   176.0 2017-08-09 08:20:05
9131   8/9/2017   8:25:05                   175.0 2017-08-09 08:25:05
9130   8/9/2017   8:30:05                   177.0 2017-08-09 08:30:05
...         ...       ...                     ...                 ...
4     1/21/2018  23:39:18                   101.0 2018-01-21 23:39:18
3     1/21/2018  23:44:18                    98.0 2018-01-21 23:44:18
2     1/21/2018  23:49:18                    95.0 2018-01-21 23:49:18
1     1/21/2018  23:54:18                    93.0 2018-01-21 23:54:18
0     1/21/2018  23:59:18                    91.0 2018-01-21 23:59:18

[9135 rows x 4 columns]

In [49]:
manual = cgmdata.sort_values(by='datetime',ascending=True).loc[cgmdata['datetime']<startAuto]
manual

            Date     Time  Sensor Glucose (mg/dL)            datetime
10384  7/26/2017  0:03:57                    65.0 2017-07-26 00:03:57
10383  7/26/2017  0:08:57                    64.0 2017-07-26 00:08:57
10382  7/26/2017  0:13:57                    64.0 2017-07-26 00:13:57
10381  7/26/2017  0:18:57                    67.0 2017-07-26 00:18:57
10380  7/26/2017  0:23:57                    72.0 2017-07-26 00:23:57
...          ...      ...                     ...                 ...
9139    8/9/2017  7:45:05                   160.0 2017-08-09 07:45:05
9138    8/9/2017  7:50:05                   157.0 2017-08-09 07:50:05
9137    8/9/2017  7:55:05                   158.0 2017-08-09 07:55:05
9136    8/9/2017  8:00:05                   159.0 2017-08-09 08:00:05
9135    8/9/2017  8:05:05                   159.0 2017-08-09 08:05:05

[1250 rows x 4 columns]

In [50]:
auto=auto.set_index('datetime')
l1=auto.groupby('Date')['Sensor Glucose (mg/dL)'].count().where(lambda x:x>0.8*288).dropna().index.tolist()
auto=auto.loc[auto['Date'].isin(l1)]

manual=manual.set_index('datetime')
l2=manual.groupby('Date')['Sensor Glucose (mg/dL)'].count().where(lambda x:x>0.8*288).dropna().index.tolist()
manual=manual.loc[manual['Date'].isin(l2)]

In [58]:
#Auto mode
hyperglycemia_wholeday_auto=(auto.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hyperglycemia_daytime_auto=(auto.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hyperglycemia_overnight_auto=(auto.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

hyperglycemia_critical_wholeday_auto=(auto.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hyperglycemia_critical_daytime_auto=(auto.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hyperglycemia_critical_overnight_auto=(auto.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

range_wholeday_auto=(auto.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(auto['Sensor Glucose (mg/dL)']>=70) & (auto['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
range_daytime_auto=(auto.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(auto['Sensor Glucose (mg/dL)']>=70) & (auto['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
range_overnight_auto=(auto.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(auto['Sensor Glucose (mg/dL)']>=70) & (auto['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

range_sec_wholeday_auto=(auto.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(auto['Sensor Glucose (mg/dL)']>=70) & (auto['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
range_sec_daytime_auto=(auto.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(auto['Sensor Glucose (mg/dL)']>=70) & (auto['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
range_sec_overnight_auto=(auto.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(auto['Sensor Glucose (mg/dL)']>=70) & (auto['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

hypoglycemia_level1_wholeday_auto=(auto.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hypoglycemia_level1_daytime_auto=(auto.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hypoglycemia_level1_overnight_auto=(auto.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

hypoglycemia_level2_wholeday_auto=(auto.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto['Sensor Glucose (mg/dL)']<54].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hypoglycemia_level2_daytime_auto=(auto.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto['Sensor Glucose (mg/dL)']<54].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hypoglycemia_level2_overnight_auto=(auto.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[auto['Sensor Glucose (mg/dL)']<54].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [59]:
hyperglycemia_wholeday_auto

Date
1/18/2018     15.625000
1/19/2018     25.694444
1/21/2018     28.819444
10/11/2017    35.416667
10/20/2017    27.083333
10/26/2017    24.652778
10/27/2017    19.097222
11/11/2017     2.430556
11/12/2017     4.166667
11/24/2017    27.430556
11/9/2017     33.333333
12/1/2017     17.361111
12/11/2017    15.625000
12/12/2017    15.277778
12/18/2017    18.750000
12/23/2017    30.902778
12/3/2017      7.291667
8/12/2017     26.388889
8/19/2017     40.277778
8/24/2017     52.083333
8/30/2017     10.416667
8/31/2017     30.555556
9/10/2017      5.902778
9/14/2017     37.152778
9/15/2017     27.083333
9/16/2017     22.569444
9/17/2017      8.333333
9/21/2017      7.638889
9/23/2017     17.708333
9/3/2017      31.597222
9/4/2017      32.291667
Name: Sensor Glucose (mg/dL), dtype: float64

In [60]:
#manual
hyperglycemia_wholeday_manual=(manual.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hyperglycemia_daytime_manual=(manual.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hyperglycemia_overnight_manual=(manual.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual['Sensor Glucose (mg/dL)']>180].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

hyperglycemia_critical_wholeday_manual=(manual.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hyperglycemia_critical_daytime_manual=(manual.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hyperglycemia_critical_overnight_manual=(manual.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual['Sensor Glucose (mg/dL)']>250].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

range_wholeday_manual=(manual.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(manual['Sensor Glucose (mg/dL)']>=70) & (manual['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
range_daytime_manual=(manual.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(manual['Sensor Glucose (mg/dL)']>=70) & (manual['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
range_overnight_manual=(manual.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(manual['Sensor Glucose (mg/dL)']>=70) & (manual['Sensor Glucose (mg/dL)']<=180)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

range_sec_wholeday_manual=(manual.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(manual['Sensor Glucose (mg/dL)']>=70) & (manual['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
range_sec_daytime_manual=(manual.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(manual['Sensor Glucose (mg/dL)']>=70) & (manual['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
range_sec_overnight_manual=(manual.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[(manual['Sensor Glucose (mg/dL)']>=70) & (manual['Sensor Glucose (mg/dL)']<=150)].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

hypoglycemia_level1_wholeday_manual=(manual.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hypoglycemia_level1_daytime_manual=(manual.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hypoglycemia_level1_overnight_manual=(manual.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual['Sensor Glucose (mg/dL)']<70].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

hypoglycemia_level2_wholeday_manual=(manual.between_time('0:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual['Sensor Glucose (mg/dL)']<54].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hypoglycemia_level2_daytime_manual=(manual.between_time('6:00:00','23:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual['Sensor Glucose (mg/dL)']<54].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)
hypoglycemia_level2_overnight_manual=(manual.between_time('0:00:00','05:59:59')[['Date','Time','Sensor Glucose (mg/dL)']].loc[manual['Sensor Glucose (mg/dL)']<54].groupby('Date')['Sensor Glucose (mg/dL)'].count()/288*100)

In [61]:
results_df = pd.DataFrame({
    'hyperglycemia_wholeday':[ hyperglycemia_wholeday_manual.mean(axis=0),hyperglycemia_wholeday_auto.mean(axis=0)],
    'hyperglycemia_daytime':[ hyperglycemia_daytime_manual.mean(axis=0),hyperglycemia_daytime_auto.mean(axis=0)],
    'hyperglycemia_overnight':[ hyperglycemia_overnight_manual.mean(axis=0),hyperglycemia_overnight_auto.mean(axis=0)],
    
    'hyperglycemia_critical_wholeday':[ hyperglycemia_critical_wholeday_manual.mean(axis=0),hyperglycemia_critical_wholeday_auto.mean(axis=0)],
    'hyperglycemia_critical_daytime':[ hyperglycemia_critical_daytime_manual.mean(axis=0),hyperglycemia_critical_daytime_auto.mean(axis=0)],
    'hyperglycemia_critical_overnight':[ hyperglycemia_critical_overnight_manual.mean(axis=0),hyperglycemia_critical_overnight_auto.mean(axis=0)],
    
    'range_wholeday':[ range_wholeday_manual.mean(axis=0),range_wholeday_auto.mean(axis=0)],
    'range_daytime':[ range_daytime_manual.mean(axis=0),range_daytime_auto.mean(axis=0)],
    'range_overnight':[ range_overnight_manual.mean(axis=0),range_overnight_auto.mean(axis=0)],
    
    'range_sec_wholeday':[ range_sec_wholeday_manual.mean(axis=0),range_sec_wholeday_auto.mean(axis=0)],
    'range_sec_daytime':[ range_sec_daytime_manual.mean(axis=0),range_sec_daytime_auto.mean(axis=0)],
    'range_sec_overnight':[ range_sec_overnight_manual.mean(axis=0),range_sec_overnight_auto.mean(axis=0)],
    
    'hypoglycemia_level1_wholeday':[ hypoglycemia_level1_wholeday_manual.mean(axis=0),hypoglycemia_level1_wholeday_auto.mean(axis=0)],
    'hypoglycemia_level1_daytime':[ hypoglycemia_level1_daytime_manual.mean(axis=0),hypoglycemia_level1_daytime_auto.mean(axis=0)],
    'hypoglycemia_level1_overnight':[ hypoglycemia_level1_overnight_manual.mean(axis=0),hypoglycemia_level1_overnight_auto.mean(axis=0)],

    'hypoglycemia_level2_wholeday':[ hypoglycemia_level2_wholeday_manual.mean(axis=0),hypoglycemia_level2_wholeday_auto.mean(axis=0)],                          
    'hypoglycemia_level2_daytime':[ hypoglycemia_level2_daytime_manual.mean(axis=0),hypoglycemia_level2_daytime_auto.mean(axis=0)],
    'hypoglycemia_level2_overnight':[ np.nan_to_num(hypoglycemia_level2_overnight_manual.mean(axis=0)),hypoglycemia_level2_overnight_auto.mean(axis=0)],
        
},index=['manual','auto'])

In [62]:
results_df

,hyperglycemia_wholeday,hyperglycemia_daytime,hyperglycemia_overnight,hyperglycemia_critical_wholeday,hyperglycemia_critical_daytime,hyperglycemia_critical_overnight,range_wholeday,range_daytime,range_overnight,range_sec_wholeday,range_sec_daytime,range_sec_overnight,hypoglycemia_level1_wholeday,hypoglycemia_level1_daytime,hypoglycemia_level1_overnight,hypoglycemia_level2_wholeday,hypoglycemia_level2_daytime,hypoglycemia_level2_overnight
manual,31.163194,25.347222,11.631944,22.222222,17.187500,10.069444,63.715278,44.878472,18.836806,47.569444,34.809028,17.013889,6.828704,6.365741,1.388889,4.340278,4.340278,0.0
auto,22.547043,19.802867,6.543803,8.038194,7.326389,4.745370,73.443100,51.635305,21.807796,56.742832,38.328853,19.027778,5.404589,5.257937,2.314815,1.629274,1.629274,NaN

In [63]:
results_df.to_csv('Results.csv')